    Ejercicio 1: Creación de diccionarios de Python
    Ejercicio: Crear y modificar un diccionario de Python

In [2]:
planet = {
    'name': 'Mars',
    'moons': 2
}

    # Muestra el nombre del planeta y el número de lunas que tiene.

In [18]:
print('Planeta:',planet.get('name'),'|| Lunas:',planet.get('moons'))

Planeta: Mars || Lunas: 2

    # Agrega la clave circunferencia con los datos proporcionados previamente

In [26]:
planet['circunferencia (km)'] = {
    'polar': 6752,
    'equatorial': 6792
}

In [34]:
print(f"{planet['name']} || Polar circunferencia (kms): {planet['circunferencia (km)']['polar']}")

Mars || Polar circunferencia (kms): 6752

    Ejercicio 2: Programación dinámica con diccionarios
    Ejercicio: Cálculo de valores

In [35]:
# Planets and moons
planet_moons = {
    'mercury': 0,
    'venus': 0,
    'earth': 1,
    'mars': 2,
    'jupiter': 79,
    'saturn': 82,
    'uranus': 27,
    'neptune': 14,
    'pluto': 5,
    'haumea': 2,
    'makemake': 1,
    'eris': 1
}

Añade el código para determinar el número de lunas.

In [63]:
moons=0
for value in planet_moons.values():
        moons = moons + value
        planets = len(planet_moons.keys())
print(f'Existe un total de: {moons} lunas en el sistema solar.')
print(f'El promedio de lunas por planeta es de',moons/planets,'lunas.')

Existe un total de: 214 lunas en el sistema solar.
El promedio de lunas por planeta es de 17.833333333333332 lunas.